<dom-module id='signup-form'>

  <template>
    <style include='ink-variables ink-reset ink-flex-grid ink-colors ink-layout-helpers ink-typography'></style>
    <style include='ink-theme-default'></style>
    <style include='view-styles'></style>
    <style>
      :host {
        @apply(--fixed-view);
        @apply(--scroll-view);
        @apply(--flx-ctr-ctr);
        background: var(--g10);
      }

      paper-input, gold-email-input {
        margin-bottom: 30px;
      }

      section paper-button {
        background: var(--confirm, #1ee01f);
        width: 100%;
        font-weight: 900;
        color: white;
        margin: 0;
        margin-bottom: 20px;
      }

      footer {
        color: black;
      }

      footer span {
        color: var(--blue, #3896ed);
        font-weight: 500;
        cursor: pointer;
      }

      paper-toast paper-button {
        color: var(--pigments-green-500);
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      paper-material {
        background: white;
      }

      iron-image {
        width: 100%;
      }
    </style>

    <paper-toast class='fixed-bottom' duration='7000'>
      <paper-button no-ink on-tap='close'>Close</paper-button>
    </paper-toast>

    <paper-material elevation='5' mw300 rd-lg pd-xlg ink-txt-c>
      <iron-image src=[[logo]]></iron-image>
      <ink-copy1><content></content></ink-copy1>


      <paper-input
        class='validate'
        no-label-float
        required
        auto-validate
        minlength='6'
        label='Name'
        type='text'
        value={{name}}>
      </paper-input>

      <gold-email-input
        class='validate'
        no-label-float
        required
        auto-validate
        label='Email Address'
        error-message='This does not look like an e-mail address.'
        value={{email}}>
      </gold-email-input>

      <paper-input
        class='validate'
        no-label-float
        required
        auto-validate
        minlength='6'
        name='registerPassword'
        label='Password'
        type='password'
        error-message='Looks like the password is shorter than 6 characters.'
        value={{password}}>
      </paper-input>

      <paper-button fw ink-primary on-tap='signupUser'>Sign up</paper-button>
      <footer>Already a member? <a href='/login'>Login here.</a></footer>
    </paper-material>

    <ink-micro1 txt-g70><content select='.footnote'></content></ink-micro1>

  </template>
</dom-module>

<script>
  require('@polymer/polymer/polymer.html');

  require('@polymer/iron-image/iron-image.html');

  require('@polymer/paper-material/paper-material.html');
  require('@polymer/paper-input/paper-input.html');
  require('@polymer/paper-button/paper-button.html');
  require('@polymer/paper-toast/paper-toast.html');
  require('@polymer/gold-email-input/gold-email-input.html');

  const _ = require('lodash');
  require('@andreasgalster/inkling/src/inkling.html');
  require('@andreasgalster/inkling/src/ink-theme-default.html');

  Polymer({
    is: 'signup-form',
    validate: function() {
      let validity = [];

      Polymer.dom(this.root).querySelectorAll('.validate').forEach(function(value) {
        value.validate();
        validity.push(value.invalid);
      });

      return validity;
    },

    signupUser: function() {
      const user = {
        password: this.password,
        email: this.email,
      };




      this.validate();

      if ( _.includes(this.validate(), true) === false ) {

        Accounts.createUser(user, (err, res) => {
          if (err) {
            if (err.error === 403) {
              this.$$('paper-toast').text = 'This e-mail is already in use.';
              this.$$('paper-toast').toggle();
            }
          } else {
            this.firstName = this.name.split(' ').slice(0, -1).join(' ');
            this.lastName = this.name.split(' ').slice(-1).join(' ');
            Meteor.call('email_sendVerificationMail', this.email);
            Meteor.call('crm_addContact', {firstName: this.firstName, lastName: this.lastName, email: this.email});
            Meteor.call('subscription_create', {firstName: this.firstName, lastName: this.lastName, email: this.email});
            window.Intercom('update', {
              name: this.name,
              email: this.email, 
            });
          }
        });
      }

    },

    close: function() {
      this.$$('paper-toast').close();
    },

  });

</script>
