<dom-module id='verification-checker'>
  <template>

    <style include='ink-variables ink-reset ink-flex-grid ink-colors ink-layout-helpers ink-typography'></style>
    <style include='ink-theme-default'></style>
    <style>
      :host {
        @apply(--mix-fixed-view);
        @apply(--flx-ctr-ctr);
        background: var(--g10);
      }

      div.header {
        background: #F3B421;
        padding: 10px 20px;
      }

      h1 {
        font-size: 13px;
      }

      paper-button {
        --paper-button-ink-color: white;
        background: rgba(255,255,255,0.3);
      }
    </style>

    <iron-media-query query='(max-width:600px)' query-matches='{{isMaximum600}}'></iron-media-query>

    <template is='dom-if' if=[[!user.emails.0.verified]]>
      <div class$='header {{isFixedBottom(fixedBottom)}}'>
        <h1><content>Your account isn't verified yet. Please click the link we have emailed you.</content></h1>
        <paper-button fw$=[[isMaximum600]] on-tap='sendVerificationEmail'>Resend verification email</paper-button>
      </div>
    </template>

    <paper-toast class='horizontal layout fixed-bottom' duration='7000'>
      <div class='flex'>[[toastMessage]]</div>
      <paper-button no-ink on-tap='close'>Close</paper-button>
    </paper-toast>

  </template>
</dom-module>

<script>
  require('@polymer/polymer/polymer.html');
  require('@andreasgalster/inkling/src/inkling.html');

  require('@polymer/paper-button/paper-button.html');
  require('@polymer/paper-toast/paper-toast.html');


  Polymer({
    is: 'verification-checker',
    behaviors: [mwcMixin],
    properties: {
      toastMessage: {
        type: String,
        value: function() {
          return 'We\'ve just sent you a verification email.';
        },
      },
      fixedBottom: Boolean,
    },
    tracker: function() {
      this.user = Meteor.user();
    },
    isFixedBottom: function(fixedBottom) {
      return fixedBottom ? 'fixed-bottom' : '';
    },

    sendVerificationEmail: function() {
      Meteor.call('SendVerificationMail', (error) => {
        this.$$('paper-toast').toggle();
      });
    },

    close: function() {
      this.$$('paper-toast').close();
    },

  });
</script>
